.onnappi {
    position: absolute;top: 2500px;left: 500px;top: 1800px;
}

.viiskviisnappi {
    position: absolute;left: 720px;top: 1800px;
}

.bengalintiikerinappi {
    position: absolute;left: 950px;top: 1800px; text-align: center;
}

.napittxt {
    width: 875px;height: 55px;position: absolute;text-align: center;left: 494px;top: 1700px; background-color: wheat;border: 5px solid black;
}

.diudiudiunappi {
    position: absolute;left: 1170px;top: 1800px; text-align: center;
}

.töihinnappi {
    position: absolute;left: 500px;top: 1900px; text-align: center;
}

.aijainappi {
    position: absolute;left: 720px;top: 1900px; text-align: center;
}

.yhelläkädellänappi {
    position: absolute;left: 950px;top: 1900px; text-align: center;
}

.ninappi {
    position: absolute;left: 1170px;top: 1900px; text-align: center;
}

.playboynappi {
    position: absolute;left: 500px;top: 2000px; text-align: center;
}

.eiharmitanappi {
    position: absolute;left: 720px;top: 2000px; text-align: center;
}

.tjäreborgnappi {
    position: absolute;left: 950px;top: 2000px; text-align: center;
}

.vounappi {
    position: absolute;left: 1170px;top: 2000px; text-align: center;
}

.tossajanappi {
   position: absolute;left: 500px;top: 2100px; text-align: center;
}

.eisiitänappi {
    position: absolute;left: 720px;top: 2100px; text-align: center;
}

.phukkinappi {
    position: absolute;left: 950px;top: 2100px; text-align: center;
}

.kahvinappi {
    position: absolute;left: 1170px;top: 2100px; text-align: center;
}

.themenappi {
    position: absolute;left: 1600px;top: 50px; text-align: center;
}

.remixnappi {
    position: absolute;left: 1600px;top: 300px; text-align: center;
}
