body {
    background-color: rgb(80, 156, 156);
}
.box {
    width: 400px;
    height: 200px;
    border: 5px solid black; 
    position: relative;
    text-align: center;
    background-color:wheat;
}

.box2 {
    width: 250px;
    height: 200px;
    border: 5px black; 
    position: relative;
    background-color: wheat;
}

.box3 {
    width: 200px;
    height: 200px;
    border: 5px black; 
    position: relative;
    background-color: wheat;
}
