body {
    background-color: rgb(38, 189, 101);
    font-family:Helvetica,Arial,sans-serif;
}
.info {
    width: 400px; height: 200px; border: 5px solid black; position: relative; text-align: center; background-color:wheat;
}

.linkit {
    width: 250px;height: 170px;border: 5px solid black; position: relative;background-color: wheat;text-align: center;top: 290px;left: 10px;
}

.niilopeukku {
    width: 300px;height: 500px;position: relative;top: -946px;left: 1100px;
}

.yhttiedot {
    width: 400px;height: 200px;border: 5px solid black; position: relative;text-align: center;background-color:wheat;top: -1200px;
}

.niiloinfo {
    width: 600px;height: 550px;border: 5px solid black; position: relative;text-align: center;background-color:wheat;left: 450px;top: -390px;
}

.niilokuva {
    width: 286px;height: 176px;position: relative;left: 0px;top: -976px;
}

.video {
    position: relative;padding-bottom: 56.25%; /* 16:9 */
  }

.video iframe {
    position: absolute;top: -1000px;left: 250px;width: 80%;height: 80%;
  }

.yttxt {
    width: 350px;height: 55px;position: relative;text-align: center;left: 775px;top: -1076px;
}   

.näyttelijät {
    width: 252px;height: 335px;position: absolute;left: 8px;top: 2310px;
}

.näyttelijät2 {
    width: 479px;height: 268px;position: absolute;left: 8px;top: 1900px;
}

.näyttelijättxt {
    width: 470px;height: 185px;border: 5px solid black;background-color: rgb(40, 201, 193);position: absolute;top: 1700px;
}

.niilolinkit {
    width: 500px;height: 300px;border: 5px solid black;background-color: rgb(190, 58, 58);position: absolute;left: 1385px;top: 1700px; text-align: center;line-height: 1.5;
}

.onniteksti {
    width: 470px;height: 100px;background-color: rgb(40, 201, 193);border: 5px solid black;position: absolute;top: 2195px;
}

.onnappi {
    position: absolute;top: 2500px;left: 500px;top: 1800px;

}

.viiskviisnappi {
    position: absolute;left: 720px;top: 1800px;

}

.bengalintiikerinappi {
    position: absolute;left: 950px;top: 1800px; text-align: center;
}

.napittxt {
    width: 875px;height: 55px;position: absolute;text-align: center;left: 494px;top: 1700px; background-color: wheat;border: 5px solid black;
}

.diudiudiunappi {
    position: absolute;left: 1170px;top: 1800px; text-align: center;
}

.töihinnappi {
    position: absolute;left: 500px;top: 1900px; text-align: center;
}

.aijainappi {
    position: absolute;left: 720px;top: 1900px; text-align: center;
}

.yhelläkädellänappi {
    position: absolute;left: 950px;top: 1900px; text-align: center;
}

.ninappi {
    position: absolute;left: 1170px;top: 1900px; text-align: center;
}

.playboynappi {
    position: absolute;left: 500px;top: 2000px; text-align: center;
}

.eiharmitanappi {
    position: absolute;left: 720px;top: 2000px; text-align: center;
}

.tjäreborgnappi {
    position: absolute;left: 950px;top: 2000px; text-align: center;
}

.vounappi {
    position: absolute;left: 1170px;top: 2000px; text-align: center;
}

.tossajanappi {
   position: absolute;left: 500px;top: 2100px; text-align: center;
}

.eisiitänappi {
    position: absolute;left: 720px;top: 2100px; text-align: center;
}

.phukkinappi {
    position: absolute;left: 950px;top: 2100px; text-align: center;
}

.kahvinappi {
    position: absolute;left: 1170px;top: 2100px; text-align: center;
}
